.body {
font-family: sans-serif;
    }



.header {

    border-style: solid;
    padding: 20px;
    text-align: center;
    font-size: 36px;

}

h2 {
 text-decoration: underline;
 font-style: bold;
}


.menubar {

    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    text-align: center;

}

.navigation {
    list-style-type: none;
    margin:0;
    padding; 0;
    overflow: hidden;
    background-color: purple;
}


.navigation_element {
    display: block;
    color: white;
    text-align: center;
    padding: 10px; 15px;
    text-decoration: none;
    float: left;

}

.navigation_element:hover {
background-color: black;
}

.link {
color: yellow;
    }


.main {

    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    text-align: center;
    padding: 60px;
    height: 500px;


}


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
    padding: 20px;
    text-align: center;
    height: 30px;
    width: auto;
}



